on:
  pull_request:
     types: [opened, labeled, unlabeled]
jobs:
  enforce-label:
    env:
      TEST: ${{ secrets.TEST }}
    runs-on: ubuntu-latest
    steps:
    - uses: yogevbd/enforce-label-action@2.1.0
      if: env.TEST == 'true'
      with:
        REQUIRED_LABELS_ANY: "Reopen"
        REQUIRED_LABELS_ANY_DESCRIPTION: "Apenas PRs com a label 'Reopen' pode ser mesclados no momento."
